body {
  margin: 0;
  padding: 0;
}
  
header {
  background-color: #f2f2f2;
  padding: 20px;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 25px;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.site-name {
  display: flex;
  align-items: center;
}

.site-name h1 {
  font-size: 24px;
  margin-right: 10px;
}

.site-name h2 {
  font-size: 18px;
  font-weight: normal;
}

  .form-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }


  .form-container h2{
    margin-bottom: 30px;
  }