  body {
    margin: 0;
    padding: 0;
    background-color:#fff;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f2f2f2;
    padding: 0;
    z-index: 999;
  }
  
  

  .top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .site-name {
    display: flex;
    align-items: center;
  }
  
  .site-name h1 {
    font-size: 24px;
    margin-right: 10px;
  }
  
  .site-name h2 {
    font-size: 18px;
    font-weight: normal;
  }
  
  .left-section ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .left-section ul li {
    display: inline-block;
    margin-right: 10px;
    
  }
  
  .left-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: large;
  }
  
  .left-section ul li a:hover {
    color: #FFEA20;
  }
  
  .site-name a h1{
    /* text-decoration: none; */
    
    color: #fff;
    /* font-size: large; */
    
  }
  .site-name a{
    text-decoration: none;
  }


  #dashboard-title {
    font-size: 36px;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 35px; /* Adding a margin-bottom to create space between the title and boxes */
  }
  
  #dashboard-title span {
    color: #FFEA20;
  }
  
  #welcome-para {
    font-size: 18px;
    text-align: center;
    color: #333;
    margin-bottom: 10px; /* Add a margin-bottom to create space between the welcome paragraph and boxes */
  }
  
.sidebar {
  position: fixed;
  top: 99.5px; 
  left: 0;
  width: 200px;  
  height: 100%;  
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  z-index: 999;
}
  
  

  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar li {
    padding: 30px;
    margin-top: 0;
    text-align: center;
  }
  .sidebar li:hover{
    background-color: #333;
    /* color:#FFEA20; */
  }

  
  .sidebar li a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  
  .sidebar li a:hover {
    color: #FFEA20;
  }


  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px; /* Adjust the margin-top value to create space below the fixed header and sidebar */
    flex-wrap: wrap; /* Allow the boxes to wrap when the container width is limited */
  }
  
  
  .box {
    width: 250px;
    height: 300px;
    padding: 0;
    /* margin-right: 30px; */
    margin-left: 40px;
    margin-bottom: 20px;
    background-color: #FFEA20;
    transition: background-color 0.3s ease;
    cursor: pointer;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .box:hover {
    background-color: navy;
    color: #fff;
  }
  
  .image-section {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  
  .description {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    text-align: center;

  }

  .description p{
    color: black;
  }
  .description h3{
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
    .box:hover h3,
  .box:hover p {
    color: #fff;
  }

  .dashboard{
    padding-left: 9%;
  }
  h3 {
    font-size: 18px;
    margin: 0;
    color: #fff;
  }
  
  p {
    font-size: 14px;
    color: #fff;
  }
  

  .graph-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px; /* Adjust the margin-top value as needed */
    flex-wrap: wrap;
  }
  
  .graph-box {
    width: 500px;
    height: 400px;
    /* background-color: #222;  */
    margin-top: 30px; /* Adjust the margin value as needed */
    margin-left: 60px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .canvas-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #bea1a1; */
  }
  
  .canvas-container canvas {
    width: 90%;
    height: 90%;
  }
  
  
  
  
  
